<html>
  <head>
    <title>Hello, Quickstart!</title>
  </head>

  <body>
    <main>
      <h2>Hello, Quickstart!</h2>
      <section>
        <p>This is a (barely) nicer view of the quickstart application</p>
      </section>
      <footer>Page Rendered on <%= Time.now.utc %></footer>
    </main>
  </body>
</html>
